extends layout

block content
  script(src='/scripts/getVisitors.js')
  .container.bg-light.col-md-2
    h2 Add Visitor
    form(method='post', action='/api/visitor')
      div.form-group
          label Social Security Number
            input(type='text', name='ssn', required=true).form-control
      div.form-group
          label First Name
            input(type='text', name='firstName', required=true).form-control
      div.form-group
          label Middle Name
            input(type='text', name='middleName', required=true).form-control
      div.form-group
          label Last Name
            input(type='text', name='lastName', required=true).form-control
      div.form-group
          label Crime(s) Committed
            textarea(name='crimes', required=true).form-control
      div.form-group
          label Date of Admission
            input(type='date', name='admitDate', required=true).form-control
      div.form-group
          label Date of Release
            input(type='date', name='releaseDate').form-control
      div.form-group
          label Court Dates
            textarea(name='courtDates').form-control
      div.form-group
          input(type='submit')

  .container.bg-light.col-md-2
    h2 Update Prisoner
    form(method='get', action='api/visitor/update')
      div.form-group
        label Social Security Number
          input(type='text', name='ssn', required=true).form-control
      div.form-group
        label Field to Update
          select(name='fieldToUpdate')
            option(value='ssn') Social Security Number
            option(value='firstName') First Name
            option(value='middleName') Middle Name
            option(value='lastName') Last Name
            option(value='crimes') Crime
            option(value='admitDate') Admission Date
            option(value='releaseDate') Release Date
            option(value='courtDates') Court Date
      div.form-group
        label Value to Update
          input(type='text', name='valueToUpdate')
      div.form-group
        input(type='submit')

  .container.bg-light.col-md-2
    h2 Delete Prisoner
    form(method='get', action='api/visitor/remove')
      div.form-group
        label Social Security Number
          input(type='text', name='ssn', required=true).form-control
      div.form-group
        input(type='submit')

  .container.bg-secondary.text-white.col-md-12
    h1 Prior Visitors
    table.table.text-white#visitorTable
      thead
        th Social Security Number
        th First Name
        th Middle Name
        th Last Name
        th Crime(s)
        th Admitted
        th Released
        th Court Dates